<div class="row">
    <div class="col-10">
        <input (keyup.enter)="getSearch( search.value )" type="text" class="form-control" placeholder="Artista, Canción, Tv Show, Personas..." #search>
    </div>
    <div class="col-2">
        <button class="btn btn-outline-primary btn-block" type="button" (click)="getSearch( search.value )">Buscar</button>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="itunes.length > 0" class="row mt-2 animated fadeIn">
    <div class="col">
        <h2>Itunes</h2>
        <hr>
        <app-cards [itunes]="itunes"></app-cards>
    </div>
</div>
<div *ngIf="tvMaze.length > 0" class="row mt-2 animated fadeIn">
    <div class="col">
        <h2>TvMaze</h2>
        <hr>
        <app-cards [tvMaze]="tvMaze"></app-cards>
    </div>
</div>
<div *ngIf="crcind.length > 0" class="row mt-2 animated fadeIn">
    <div class="col">
        <h2>CrCind</h2>
        <hr>
        <app-cards [crcind]="crcind"></app-cards>
    </div>
</div>